@media(max-width:1280px) {
    .cabecalho-menu {
        padding: 30px;
    }
}

@media(max-width: 900px) {
    .cabecalho-menu .menu {
        display: block;
    }

    .cabecalho-menu .navegacao input:checked~ul {
        display: block;
    }

    .cabecalho-menu .navegacao {
        position: absolute;
        top: 30px;
        right: 20px;
        z-index: 1;
    }

    .cabecalho-menu .navegacao ul {
        display: none;
        background-color: var(--cor-fundo-escuro);
        padding: 20px;
    }

    .cabecalho-menu .navegacao li a {
        color: var(--cor-branca);
        padding: 20px;
        display: block;
    }

    .sobre {
        flex-wrap: wrap;
        height: 100%;
    }

    .parte-textual-informacao {
        padding-left: 0;
        border-left: none;
        padding-top: 50px;
        width: 90%;
    }
    .img-poligonos{
        opacity: 30%;
    }   
    .quadro-de-projetos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .informacoes-projetos{
        max-width: 90%;
    }

}

@media(max-width: 425px) {
    .titulo-nome {
        font-size: 30px;
    }

    .titulo-texto {
        font-size: 16px;
    }

    .foto {
        height: 50%;
        margin-top: 40px;
    }

    .rodape{
        width: 100%;
    }
}