.cabecalho-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 20px; */
    padding: 30px 15px;
    position: relative;
}

.cabecalho-menu .navegacao ul {
    display: flex;
}

.navegacao li a {
    padding: 20px;
    color: rgb(203, 134, 243);
    font-size: 20px;
    font-weight: 400;
    transition: 0.2s ease-in-out;
}

.cabecalho-menu .navegacao ul li a:hover {
    font-size: 20px;
    font-weight: 900;
    color: black;
    background: #00D2DF;
    border-radius: 8%;
}

.cabecalho-menu .menu {
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.cabecalho-menu .navegacao label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.cabecalho-menu .hamburguer {
    background-color: white;
    color: white;
    position: relative;
    display: block;
    background-color: ;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.cabecalho-menu .hamburguer:before, .cabecalho-menu .hamburguer:after {
    background-color: white;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.2s ease-in-out;
}

.cabecalho-menu .hamburguer:before {
    top: -10px;
}

.cabecalho-menu .hamburguer:after {
    bottom: -10px;
}

.cabecalho-menu input {
    display: none;
}

.cabecalho-menu input:checked~label .hamburguer {
    transform: rotate(45deg);
}

.cabecalho-menu input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

.cabecalho-menu input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

.cabecalho-menu .logo {
    width: 100px;
    transition: 0.2s;
}

.apresentacao {
    border-top: 0.2px solid #44405c;
    position: relative;
    display: flex;
    align-items: center;
    height: 400px;
}

.apresentacao-textual {
    margin-left: 20px;
    line-height: 60px;
    text-transform: uppercase;
}

.titulo-nome {
    font-size: 64px;
    color: #00D2DF;
}

.titulo-texto {
    font-size: 24px;
    font-weight: 600;
}

.img-poligonos {
    position: absolute;
    right: 0;
    height: 110%;
    width: 700px;
}

.sobre {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parte-textual-informacao {
    width: 600px;
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
    padding-left: 100px;
}

.parte-textual-informacao h2 {
    padding-bottom: 30px;
}

.foto {
    height: 380px;
}