.cabecalho-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
    position: relative;
}

.cabecalho-menu .navegacao ul {
    display: flex;
}

.navegacao li a {
    padding: 30px;
    color: rgb(203, 134, 243);
    font-size: 20px;
    font-weight: 400;
    transition: 0.4s ease-in-out;
}

.cabecalho-menu .navegacao ul li a:hover {
    font-weight: 900;
    color: black;
    background: #00D2DF;
    border-radius: 10%;
    padding: 20px;
}

.cabecalho-menu .menu {
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.cabecalho-menu .navegacao label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.cabecalho-menu .hamburguer {
    background-color: white;
    color: white;
    position: relative;
    display: block;
    background-color: rgb(203, 134, 243);
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.cabecalho-menu .hamburguer:before, .cabecalho-menu .hamburguer:after {
    background-color: white;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.2s ease-in-out;
}

.cabecalho-menu .hamburguer:before {
    top: -10px;
}

.cabecalho-menu .hamburguer:after {
    bottom: -10px;
}

.cabecalho-menu input {
    display: none;
}

.cabecalho-menu input:checked~label .hamburguer {
    transform: rotate(45deg);
}

.cabecalho-menu input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

.cabecalho-menu input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

.cabecalho-menu .logo {
    width: 100px;
    transition: 0.2s;
}

.apresentacao {
    border-top: 0.2px solid #44405c;
    position: relative;
    display: flex;
    align-items: center;
    height: 400px;
}

.apresentacao-textual {
    margin-left: 20px;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.titulo-nome {
    font-size: 64px;
    color: #00D2DF;
}

.titulo-texto {
    font-size: 24px;
    font-weight: 600;
}

.img-poligonos {
    position: absolute;
    right: 0;
    height: 110%;
    width: 700px;
}

.sobre {
    height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parte-textual-informacao {
    width: 750px;
    font-size: 24px;
    border-left: 1px solid #3a9999;
    padding-left: 100px;
    text-align: center;
    line-height: 35px;
}

.parte-textual-informacao h2 {
    padding-bottom: 50px;
    text-align: center;
    color: rgb(213, 135, 214);
}

.foto {
    height: 380px;
}

.contato {
    display: flex;
    flex-direction: column;
    padding: 0px 0 20px 0;
}

.contato .redes-sociais {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.contato .redes-sociais a {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    font-size: 30px;
    border: 1px solid #FFF2E7;
    border-radius: 50%;
    padding: 15px;
    width: 65px;
    transition: 0.3s ease-in-out;
    color: rgb(94, 47, 95);
}

.redes-sociais a:hover {
    background-color: #00D2DF;
    color: white;
}

.botao-curriculo {
    background: linear-gradient(45deg, rgb(94, 47, 95), rgb(203, 134, 243), #00D2DF );
    z-index: 1;
    font-size: var(--fonte-grande);
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    align-self: center;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid white;
    text-align: center;
}

.botao-curriculo a {
    color:black;
    font-weight: 800;
}

.botao-curriculo:hover {
    font-size: 25px;
    
}

.titulo-habilidades {
    text-align: center;
    font-size: 35px;
    color: rgb(213, 135, 214);
}

.habilidade h3 {
    color: rgb(213, 135, 214);
}

.quadro-de-habilidades {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}


.habilidade {
    text-align: center;
    width: 400px;
    height: 300px;
    font-size: 24px;
    margin: 10px;
    border: 1px solid rgb(213, 135, 214);
}

.habilidade a {
    font-size: 80px;
    color: #00D2DF
}

.texto-habilidades{
    width: 90%;
    margin: 0 auto;
}

.projetos{
    height: 100%;
    margin-bottom: 10%;
    margin: 0 auto;
}

.projetos .quadro-de-projetos {
    display: grid;
    grid-template-columns:repeat( auto-fit, minmax(400px, 1fr)) ;
    margin: 0 20px 20px 20px; 
    grid-gap: 20px;
    row-gap: 80px;
    align-self: center;
}

.projetos .quadro-de-projetos .projeto {
    border-radius: 5px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    position: relative;
}

.projetos .quadro-de-projetos .projeto:hover, .projetos .quadro-de-projetos .projeto:hover .informacoes-projeto {
    opacity: 0.8;
}

.projetos .quadro-de-projetos .projeto img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
    width: 100%;
}

.projetos .quadro-de-projetos .informacoes-projeto {
    padding: 20px;
    position: absolute;
    background-color: #3a9999;
    color: white;
    font-size: 20px;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.projetos .quadro-de-projetos .informacoes-projeto a{
    color: white;
}

.projetos .quadro-de-projetos h3 {
    color: #00D2DF;
    text-align: center;
    font-size: 24px;
}

.titulo-projetos {
    text-align: center;
    font-size: 35px;
    color: rgb(213, 135, 214);
    margin: 50px 0 50px 0;
}

.despedida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;

}

.despedida img {
    height: 300px;
}

.despedida h2 {
    font-family: var(--fonte-despedida);
    font-size: 20px;
    background: -webkit-gradient(left, rgb(213, 135, 214) 0%, #00D2DF 100%);
    background: linear-gradient(to right, rgb(213, 135, 214) 0%, #00D2DF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rodape{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #44405c;
    font-size: 20px;
    background: linear-gradient(to right, rgb(7, 1, 7) 0%, #00D2DF 100%);
}

.rodape a {
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}

.rodape p{
    margin-top: 30px;
    margin-bottom: 30px;
}

.rodape a:hover {
    font-size: 25px;
    color: #00D2DF;
}
.rodape .redes-sociais {
    display: flex;
    margin-top: 20px;
}

.rodape .redes-sociais a{
    margin: 0 10px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #ebd1f1;
    border-radius: 50%;
    padding: 15px;
    width: 65px;
    transition: 0.3s ease-in-out;
    color: rgb(74, 11, 75);
}

