:root{
    --cor-primaria: rgb(20, 1, 1);
    --cor-secundaria:var(--cor-primaria);--cor-branca: #fff;
    --cor-fundo-escuro:black;
    --cor-fundo-hover: #00D2DF;

}

:root{
    --fonte-primaria: 'EB Garamond', sans serif;
    --fonte-secundaria: 'Source Serif 4', sans serif;
    --fonte-extra-gigante: 64px;
    --fonte-grande: 24px;
    --fonte-normal: 16px;
}

:root{

}